body{
    padding: 1%;
    background:(180deg, rgb(18, 14, 14),rgb(9, 9, 9));
}
h2{
    text-align: center;
    border-bottom: solid;
    border-color: white;
    color: black;
}
#productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    background-color:rgb(4, 0, 0);
    border-radius: 10%;
}
.producto{
    border-radius: 10%;
    margin: 5%;
    padding: 5%;
    display: grid;
    grid-template-columns: [izq]2fr [mid] 1fr [der]1fr;
    grid-template-rows: 1fr;
    background-color: white;
}
.producto p{
    grid-column: izq / mid ;
}
.producto p img{
    max-width: 20%;
}