body{
    padding: 1%;
    background-color: yellowgreen;
}
h2{
    text-align: center;
    border-bottom: solid;

}
#productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    background-color:slategray
}
.producto{
    margin: 5%;
    padding: 2%;
    display: grid;
    grid-template-columns: [izq]2fr [mid] 1fr [der]1fr;
    grid-template-rows: 1fr;
    background-color: white;
}
.producto p{
    grid-column: izq / mid ;
}
.producto p img{
    max-width: 20%;
}